html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
  background-color: #212529 !important;
  color: white !important;
}

footer p {
    color: white !important;
}